html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-container {
    width: 100%;
    max-width: 450px;
}

.title {
    text-align: center;
}