html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-container {
    max-width: 450px;
    width: 100%;
}